.form__wrapper {
  display: flex;
  padding: 23px 99px 27px 100px;
  margin: 40px auto;
  flex-direction: column;
  flex-wrap: wrap;

  & > h1 {
    font-family: $Montserrat;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    @include normal-font;

    color: $warm-grey;
  }

  &-line {
    border: 1px solid $white-300;
    margin-bottom: 29px;
  }

  & > form {
    & > :nth-child(1) {
      width: 604px;
      margin: 19px 0;
      padding: 13px 57px 13px 17px;
      border-radius: 4px;
      border: solid 1px $white-300;
      background-color: $white;
    }

    & > select {
      @include select-option;
    }

    & > :last-child {
      margin-left: 34px;
      font-family: $RobotoSlab;
      padding: 12.8px 19px 14.2px 22px;
      font-size: 13px;
      font-weight: bold;

      @include normal-font;

      text-transform: uppercase;
      text-align: center;
      color: $white;
      cursor: pointer;
    }
  }
}
