@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

$azure: #0290ff;
$black-200: #121212;
$blue-200: #4386bf;
$white: #fff;
$white-200: #fafafa;
$warm-grey: #888;
$white-300: #e8e8e8;
$Montserrat: 'Montserrat', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;

@import 'vendor/all';
@import 'mixins/all';
@import 'Components/all';
